{% extends "template.html" %} {% block title %} Home {% endblock %} {% block
content %}
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="static/assets/img/film-reviews.jpeg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Film Reviews</h2>
          <p>
            Our film reviews are powered by the community! Dive into honest,
            unfiltered opinions from fellow movie lovers who share their
            thoughts on the latest releases. Whether it’s a summer blockbuster
            or a hidden indie gem, our platform is the place to discover what
            the audience really thinks.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="static/assets/img/about-us-film-review-website-dgt.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">About Us</h2>
          <p>
            We’re a film-loving community built for and by movie enthusiasts.
            Our mission is to give everyone a voice—whether you're a casual
            viewer or a hardcore cinephile. With reviews straight from the
            people who matter most, you’ll find fresh perspectives and real talk
            about the films you love (or don’t!).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="static/assets/img/enjoy!.jpg"
            alt="..."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Enjoy!</h2>
          <p>
            Join in, share your thoughts, and discover films in a whole new way!
            Whether you’re here to read reviews or write your own, enjoy being
            part of a passionate community that celebrates cinema in all its
            forms.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
